  <ul class="post-list">
    {% include panel.html %}
    <input type="text" id="search-input" placeholder="搜索">
    <ul id="results-container"></ul>
    {% if include.category == 'all' %}
      {% for post in site.posts %}
        {% include post_item.html post=post %}
      {% endfor %}
    {% else %}
      {% for post in site.posts %}
        {% if post.category == include.category and post.disabled != 'disabled' %}
          {% include post_item.html post=post %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
