---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      {% for tag in page.tags %}
        <span class="tag-item">{{ tag }}</span>
      {% endfor %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
<div id="gitalk-container"></div>
{% if page.comments %}
<!-- Gitalk 评论 start  -->
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
  <script type="text/javascript">
  var lang = "{{ page.lang }}";
  var title = "{{ page.title }}";
  var gitalk = new Gitalk({
    // gitalk的主要参数
    clientID: atob('YjgwNjBmNTg3ZDhmMzVhYzIxZTY='),
    clientSecret: atob('ZWE2Y2M5MzlhMWI4MjlhYTlmZjM0MjQ4N2JjNjcyMTQ4YjkwYTVlMQ=='),
    repo: 'cheeger.blog',
    owner: 'AlbaHoo',
    admin: ['AlbaHoo'],
    language: lang == 'en' ? 'en' : 'zh-CN',
    id: title.length >= 50 ? title.slice(0, 48) : title,
    distractionFreeMode: false
  });
  gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->
{% endif %}
